h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}

li {
    color: white;
}

body {
    background-image: url("https://i.pinimg.com/originals/bc/0f/75/bc0f75be3a3a253505da0f77e188f993.jpg");
}

img {
    width: 40px;
}